<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>내 정보 수정</title>
  <link rel="stylesheet" type="text/css" href="/css/fix.css"/>
</head>
<body>
<div class="login-box" fragment="content">
  <h2 class="logo">내 정보 수정하기</h2>
  <form action="/myPage/save" method="post">
    <div class="user-box">
      <input type="text" name="instagram" required="">
      <label>인스타그램 계정 추가하기</label>
    </div>
    <div class="user-box">
      <input type="text" name="blog" required="">
      <label>블로그 계정 추가하기</label>
    </div>
    <div class="user-box">
      <input type="text" name="location" required="">
      <label>거주 지역</label>
    </div>
    <div class="user-box">
      <input type="text" name="style" required="">
      <label>선호하는 스타일</label>
    </div>
    <div class="user-box">
      <input type="text" name="height" required="">
      <label>키</label>
    </div>
    <div class="user-box">
      <input type="text" name="weight" required="">
      <label>몸무게</label>
    </div>
    <button type="submit" id="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      확인
    </button>
  </form>
</div>
</body>
</html>