<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/member.css"/>
</head>
<body>
    <div class="login-box">
        <h2 class="logo">회원가입</h2>
        <form method="post" action="/member/join" >
            <div class="user-box">
                <div class="check">
                    <input type="text" name="userId" required="">
                    <button type="button" id="idDup">중복확인</button>
                    <label>Username</label>
                </div>
            </div>
            <div class="user-box">
                <input type="password" maxlength="12" name="password" required="">
                <label>Password</label>
            </div>
            <div class="user-box">
                <input type="password" maxlength="12" name="" required="">
                <label>Re Password</label>
            </div>
            <div class="user-box">
                <input type="text" name="name" required="">
                <label>Name</label>
            </div>
            <div class="user-box">
                <div class="check">
                    <input type="text" name="email" required="">
                    <button type="button" id="emailDup">중복확인</button>
                    <label>Email</label>
                </div>
            </div>
            <div class="user-box">
                <input type="text" name="phone" required="">
                <label>Phone Number</label>
            </div>
            <div class="user-box">
                <input type="text" name="height" required="">
                <label>Height</label>
            </div>
            <div class="user-box">
                <input type="text" name="weight" required="">
                <label>Weight</label>
            </div>
            <fieldset>
                <legend>체형</legend>
                <div class="form-group">
                    <input type="radio" name="bodyType" value="상체 발달"> 상체 발달
                    <input type="radio" name="bodyType" value="하체 발달"> 하체 발달
                    <input type="radio" name="bodyType" value="밸런스형"> 밸런스
                    <br>
                    <input type="radio" name="bodyType" value="역삼각형"> 역삼각형
                    <input type="radio" name="bodyType" value="모래시계"> 모래시계
                    <input type="radio" name="bodyType" value="모름"> 모름
                </div>
            </fieldset>
            <fieldset>
                <legend>선호패션</legend>
                <div class="form-group">
                    <input type="checkbox" name="favoriteFashion" value="빈티지"> 빈티지
                    <input type="checkbox" name="favoriteFashion" value="고프코어"> 고프코어
                    <input type="checkbox" name="favoriteFashion" value="페미닌"> 페미닌
                    <br>
                    <input type="checkbox" name="favoriteFashion" value="테크웨이"> 테크웨이
                    <input type="checkbox" name="favoriteFashion" value="젠더리스"> 젠더리스
                </div>
            </fieldset>
            <div class="region">
                <label>거주지역</label>
                <div class="option">
                    <select name="region" class="region-opt">
                        <option value="서울">서울</option>
                        <option value="경기도">경기도</option>
                        <option value="인천">인천</option>
                        <option value="충청남도">충청남도</option>
                        <option value="충청북도">충청북도</option>
                        <option value="경상남도">경상남도</option>
                        <option value="경상북도">경상북도</option>
                        <option value="강원도">강원도</option>
                        <option value="부산">부산</option>
                        <option value="울산">울산</option>
                        <option value="대구">대구</option>
                        <option value="대전">대전</option>
                        <option value="제주">제주</option>
                        <option value="광주">광주</option>
                        <option value="세종">세종</option>
                    </select>
                </div>
            </div>
            <button type="submit" id="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                회원가입
            </button>
            <nav>
                <div class="login-list">
                    <div class="item"><a href="/member/login">로그인</a></div>
                    <div class="item"><a href="/member/find_id">아이디 찾기</a></div>
                    <div class="item"><a href="/member/find_pw">비밀번호 찾기</a></div>
                </div>
            </nav>
        </form>
    </div>
</body>
</html>